.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

body.dark-mode {
    background-color: #1a1a1a;
    color: #f2f2f2;
}
.bg-orange {
    background-color: darkorange !important;
}
.btn-orange {
    background-color: darkorange !important;
    border: none;
}
.btn-dark {
    color: darkorange !important;
}

.form-dark {
    border-color: darkslategrey;
}